@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    @apply font-primary;
}

.bg-gradient {
    background: linear-gradient(180deg, #877EFF 0%, #685DFF 46.15%, #3121FF 100%);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    @apply dark:bg-dark-2 bg-light-2
}

::-webkit-scrollbar-thumb {
    @apply dark:bg-primary
}

.stories::-webkit-scrollbar {
    display: none;
}

/* aside */
.side-item a {
    @apply p-[14px] rounded-lg w-full flex items-center gap-4 text-[16px] font-bold leading-[140%]
}

.side-item a svg path {
    @apply fill-primary
}

.side-item * {
    @apply transition-all ease-in duration-300
}

.side-item a:hover,
.side-item a:focus {
    @apply bg-primary
}

.side-item a:hover svg path,
.side-item a:focus svg path {
    @apply fill-light-1
}

.side-active a svg path {
    @apply dark:fill-light-1 fill-dark-1;
}

.side-active {
    @apply relative text-light-1
}

.side-active a svg path {
    @apply fill-light-1
}

.side-active a {
    @apply bg-primary
}

.side-active .indicator {
    display: inline-block;
}

.fade-up {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: var(--i);
}

.scale-anim {
    -webkit-animation: scale 0.1s linear both;
    animation: scale 0.1s linear both;
}

/* animation */

/* sclale */
@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* slide-top */

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}